
# -- Local Files ------------------------------------------------------------ #
# -- ----------- ------------------------------------------------------------ #

knowledge/
*.pdf

# -- Rust ------------------------------------------------------------------- #
# -- ---- ------------------------------------------------------------------- #

/debug
/target
Cargo.lock
*.gguf

# -- Python ----------------------------------------------------------------- #
# -- ------ ----------------------------------------------------------------- #

.env

