
# -- Local Files ------------------------------------------------------------ #
# -- ----------- ------------------------------------------------------------ #

knowledge/
*.pdf
*.gguf

# -- Rust ------------------------------------------------------------------- #
# -- ---- ------------------------------------------------------------------- #

/debug
/rust/target
/rust/Cargo.lock
*.gguf

# -- Python ----------------------------------------------------------------- #
# -- ------ ----------------------------------------------------------------- #

.env/
*.cpython-311-darwin.so
__pycache__/
