
# -- Local Files ------------------------------------------------------------ #
# -- ----------- ------------------------------------------------------------ #

knowledge/
*.pdf
*.gguf
*.pdf

# -- Rust ------------------------------------------------------------------- #
# -- ---- ------------------------------------------------------------------- #

/rust/target
/rust/Cargo.lock

# -- Python ----------------------------------------------------------------- #
# -- ------ ----------------------------------------------------------------- #

*.cpython-311-darwin.so
__pycache__/

# -- Python ----------------------------------------------------------------- #
# -- ------ ----------------------------------------------------------------- #

.python-version
pyrightconfig.json
files/
*.egg-info


# -- File Structure --------------------------------------------------------- #
# -- -------------- --------------------------------------------------------- #

*.whl
build/
dist/
.eggs/
python/lucien.egg-info
*.so
.DS_Store
__pycache__
**venv
*.env

